{% extends 'base.html' %}

{% block head %} 
<title>Main Page</title>
{% endblock %}

{% block body %}
<h1>Welcome to Poker</h1>
<p>This poker game is made by students from Özyeğin University.</p>

<form id="login-form" onsubmit="login(event)">
    <label for="username">Enter Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Enter Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Login</button>
</form>
<br>
<h3>If you don't have an account, register here!</h3>
<a href="/register" style="font-size: larger;">Register</a>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}