{% extends 'base.html' %}

{% block head %} 
<title>Main Page</title>
{% endblock %}

{% block body %}
<h1>Welcome to Texas Hold'em Poker</h1>
<p>This poker game is made by students from Özyeğin University.</p>
<br>

<ul id="player-list"></ul>


  

<input type="text" id="username" placeholder="Enter your username">
<button id="ready">Ready</button>
<h1>MAIN PAGE TO BE COMPLETED</h1>

<!-- Countdown display -->
<h2 id="countdown"></h2>

<script src="{{ url_for('static', filename='script.js') }}"></script>
<script>
    document.getElementById('ready').addEventListener('click', function() {
        const username = document.getElementById('username').value;
        socket.emit('ready', { room: 'game_room_1', username: username });
    });

    // Listen for countdown messages from the server
    socket.on('message', function(data) {
        if (data.msg.includes('Game starting in')) {
            document.getElementById('countdown').innerText = data.msg;
        }
    });
    function setReady() {
    const username = localStorage.getItem("username");
    socket.emit("ready", { room: "game_room_1", username: username });
  }
</script>
{% endblock %}